{
  "plinkPath": "C:\\Program Files\\PuTTY\\plink.exe",
  "sshUser": "your-linux-login",
  "defaultEnvironment": "qa",
  "environments": {
    "qa": {
      "sshHost": "ctqa.prosp.devexperts.com",
      "sudoUnixUser": "ctqa"
    },
    "uat": {
      "sshHost": "ctuat.prosp.devexperts.com",
      "sudoUnixUser": "ctuat"
    }
  },
  "remoteDxCommand": "dx run console",
  "termForRemote": "xterm"
}
